In [2]:
#1) Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

import pandas as pd

ser = pd.Series([4,8,15,16,23,42])
print(ser)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [3]:
#2) Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

l = [1,2,3,4,5,6,7,8,9,10]

ser = pd.Series(l)
print(ser)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [4]:
#3) Create a Pandas DataFrame that contains the following data:

data = [['Alice',25,'Male'],['Bob',30,'Male'],['Claire',27,'Female']]

df = pd.DataFrame(data,columns=['Name','Age','Gender'])

print(df)

     Name  Age  Gender
0   Alice   25    Male
1     Bob   30    Male
2  Claire   27  Female

In [5]:
#4) What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.
'''
---> By using pandas.series we can add only derial data. eg. data present in list, string, array etc...
---> By using DataFrame we can make Table of the data.

'''

'\n---> By using pandas.series we can add only derial data. eg. data present in list, string, array etc...\n---> By using DataFrame we can make Table of the data.\n\n'

In [6]:
#5) What are some common functions you can use to manipulate data in a Pandas DataFrame? 
#   Can you give an example of when you might use one of these functions?

'''
---> Here are given some manipulating functions in pandas dataframe.
eg. : head(), shape(), describe(), dropna(), merge(), sort_values() etc...
'''

df.sort_values(by=['Age'], ascending=True)

     Name  Age  Gender
0   Alice   25    Male
2  Claire   27  Female
1     Bob   30    Male

In [7]:
#6) Which of the following is mutable in nature Series, DataFrame, Panel?
'''
---> DataFrame is mutable in nature.
'''

'\n---> DataFrame is mutable in nature.\n'

In [9]:
#7) Create a DataFrame using multiple Series. Explain with an example.

name = ['Alice','Bob','Claire']
age = [25,30,27]

name_ser = pd.Series(name)
age_ser = pd.Series(age)

df1 = pd.DataFrame({'Name':name_ser, 'Age':age_ser})
print(df1)

     Name  Age
0   Alice   25
1     Bob   30
2  Claire   27